<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/danhgia.css">
    <title>Document</title>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    {{#each data}}
    <form action="/course/rate2{{_id}}" method="POST">
            <p>bạn có thể dowload file tại đây<a href="/download2/{{_id}}"> {{nameFile2}}</a></p>
            <iframe src="/{{filePath2}}" class="viewfiles"></iframe>
            <div class="swap">
                <p>Status: 
<select name="status" required>
        <option value="{{status2}}">{{status2}}</option>
        <option value="Fail">Fail</option>
        <option value="Pass">Pass</option>
    </select>
<br>

            
            <p>Comment: </p><textarea name="comment" id="" cols="56" rows="20" value="{{comment}}" required>{{comment}}</textarea>
            <br>
            <button type="submit" class="button">cập nhật đánh giá</button>

            </div>
    </form>
              <img width="40px" height="40px" src="{{filePathAnh}}">
{{/each}}

</body>
</html>





